<header id="header" class="header flex flex-col md:flex-row md:justify-between items-center container mx-auto py-2 flex-wrap max-w-6xl" role="banner">
	{% include "components/logo.njk" %}
	{% include 'components/nav.njk' %}
</header>
