---
layout: default
meta_title: Home
meta_description: Homepage description
body_class: home
title: Western Code
---

<main id="main" class="main container m-auto flex flex-1 flex-col md:flex-row py-8 px-2 lg:px-0 lg:py-0">

    <section id="container-centre" class="flex-1 hero h-auto">

        {# <img src="images/hero.jpg"> #}

    </section>

    <div class="content">
      <p>Hello</p>
    </div>

</main>


