---
layout: default
meta_title: Home
meta_description: Western Code partners with agencies and businesses to create custom web applications.
body_class: home
title: Western Code
---
<main id="main" class="main mx-3 md:mx-10 md:py-8 lg:px-0 lg:py-0 mb-16 max-w-full">
  <section id="container-centre" class="hero">
    <h1 class="uppercase text-3xl md:text-5xl text-blue-300 pt-56 pl-8 fade-in"><span class="header-span">Modern Software Development</span><br /><span class="header-span">for Agencies &amp; Businesses</span></h1>
  </section>
</main>
