---
layout: default
meta_title: Services
meta_description: Western Code partners with agencies and businesses to create custom web applications.
body_class: services
title: Services
---

<main id="main" class="main container m-auto flex flex-1 flex-col md:flex-row px-6 lg:px-0 lg:py-12 max-w-5xl">
  <section id="container-centre" class="flex-1 container mx-auto">

    <h1 class="page-title text-4xl md:mb-10">{{ title }}</h1>

    <div class="md:flex md:mb-12 m-auto">
      <img src="../images/services/services-01-563x376-min.jpg" alt="Western Code" />
      <div class="pt-8 text-center max-w-md md:pl-8 md:pt-0 md:text-left">
        <h3 class="text-2xl">100% custom web applications</h3>
        <p>Your business is not a cookie cutter one-size-fits-all operation, &amp; your online presence shouldn’t be either. Every site I build is custom built from the ground-up &amp; made <b>specifically for your business</b>.</p>
      </div>
    </div>

    <hr class="border-1 border-gray-200 my-8"/>
    <div class="md:flex md:flex-row-reverse md:mb-12 m-auto">
      <img src="../images/services/services-02-563x376-min.jpg" alt="Western Code" />
      <div class="pt-8 text-center max-w-md md:pr-8 md:pt-0 md:text-left">
        <h3 class="text-2xl">No getting lost in a big agency</h3>
        <p>Large, overgrown agencies can make you feel like you're lost in a crowd; Just another number. I understand small businesses, after all, I run one myself. I provide big agency experience with small agency attention.</p>
      </div>
    </div>

    <hr class="border-1 border-gray-200 my-8"/>
    <div class="md:flex md:mb-12 m-auto">
      <img src="../images/services/services-03-563x376-min.jpg" alt="Western Code" />
        <div class="pt-8 text-center max-w-md md:pl-8 md:pt-0 md:text-left">
        <h3 class="text-2xl">Site management that puts you in control</h3>
        <p>You should never need to rely on a developer to make simple changes to your website. If your website is built the right way (the way I build 'em), it'll allow you to make changes on your own time.</p>
      </div>
    </div>

    <hr class="border-1 border-gray-200 my-8"/>
    <div class="md:flex md:flex-row-reverse md:mb-12 m-auto">
      <img src="../images/services/services-04-563x376-min.jpg" alt="Western Code" />
      <div class="pt-8 text-center max-w-md md:pr-8 md:pt-0 md:text-left">
        <h3 class="text-2xl">Easy to understand &amp; update</h3>
        <p>Managing your website should be easy. I always make sure that you <b>completely understand how your site works</b> &amp; give you the training you need to make the most of your new site.</p>
      </div>
    </div>

    <hr class="border-1 border-gray-200 my-8"/>
    <div class="md:flex md:mb-12 m-auto">
      <img src="../images/services/services-05-563x376-min.jpg" alt="Western Code" />
      <div class="pt-8 text-center max-w-md md:pl-8 md:pt-0 md:text-left">
        <h3 class="text-2xl">Adaptive to any size screen or device</h3>
        <p>Websites should work on any device, and Western Code websites are always built with the most up-to-date technologies that will ensure they do just that. Always.</p>
      </div>
    </div>

    <hr class="border-1 border-gray-200 my-8"/>
    <div class="md:flex md:flex-row-reverse md:mb-12 m-auto">
      <img src="../images/services/services-06-563x376-min.jpg" alt="Western Code" />
      <div class="pt-8 text-center max-w-md md:pr-8 md:pt-0 md:text-left">
        <h3 class="text-2xl">Built with modern technologies</h3>
        <p>Having the most up-to-date technologies behind your brand is crucial. Site speed, search ranking &amp; modern user experience all rely on having the latest technology. I'm committed to keeping you on the leading edge to keep your brand easy to find &amp; a great experience for your users.</p>
      </div>
    </div>

  </section>
</main>
